<div class="container">
  <form class="endpoint-form" [formGroup]="inputForm">
    <label>Service Fields</label>
    <br>
    <label for="serviceName">Service Name <span class="required">*</span> </label><input id="serviceName" formControlName="serviceName" type="text" required>
    <label for="serviceLabel">Service Label </label><input id="serviceLabel" formControlName="serviceLabel" type="text">
    <label for="servicePortName">Service Port Name <span class="required">*</span> </label><input id="servicePortName" formControlName="servicePortName" type="text" required>
    <label for="servicePortProtocol">Service Port Protocol <span class="required">*</span> </label><input id="servicePortProtocol" formControlName="servicePortProtocol" type="text" required>
    <label for="servicePort">Service Port <span class="required">*</span> </label><input id="servicePort" formControlName="servicePort" type="text" required>
    <label for="targetPort">Target Port <span class="required">*</span> </label><input id="targetPort" formControlName="targetPort" type="text" required>
    <br>
    <label>Endpoint Fields</label>
    <br>
    <label for="endpointName">Endpoint Name <span class="required">*</span> </label><input id="endpointName" formControlName="endpointName" type="text" required>
    <label for="endpointLabel">Endpoint Label </label><input id="endpointLabel" formControlName="endpointLabel" type="text">
    <label for="endpointAddress">Endpoint IP Address <span class="required">*</span> </label><input id="endpointAddress" formControlName="endpointAddress" type="text" required>
    <label for="endpointPort">Endpoint Port <span class="required">*</span> </label><input id="endpointPort" formControlName="endpointPort" type="text" required>
    <label for="endpointPortName">Endpoint Port Name <span class="required">*</span> </label><input id="endpointPortName" formControlName="endpointPortName" type="text" required>
    <br>
    <button type="submit" (click)="generateOutput()">Generate Output YAML</button>
  </form>
  <div class="endpoint-output" *ngIf="outputs">
    <div>
      <code>{{outputs}}</code>
    </div>
    <br>
    <button (click)="copyToClipboard()">Copy to Clipboard</button>
  </div>
</div>